.menu-item{
    margin-left:60px;
    margin-right:60px;
    display:inline-block;

}

.menu{
    padding-right: 300px;
    padding-left: 290px;
    padding-top:25.5px;
}
.item-link{
    text-decoration: none;
    font-family:Skia;
    font-weight:600;
    font-size:18px;
    color:#FF0000;
}

.page-photo{
    width:100%;
    height:789px;
}
.page{
    margin:auto;
}

.text-title{
    font-family: Skia;
    text-align:center;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
}

.text1{
    margin-top: 38px;
    margin-left: 67.5px;
    magin-right:67.5px;
    margin-bottom: 28px;
}

.text2{
    margin-right:67.5px;
    margin-left:67.5px;
    margin-bottom:66px;
}

.page-button{
    background-color:#FF0000;
    padding:5px;
    text-align:center;
    line-height: 50px;
    width:160px;
    height:50px;
    margin:auto;
    color:white;
    border-radius: 4px;
    margin-bottom: 42px;
    font-family: Skia;
}

.footer{
    padding-left: 770px;
    padding-top: 40px;
    padding-bottom: 29px;
    font-family: Skia;
    font-size: 18px;
    font-weight: 500;
}
